{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Список взаимодействий с клиентами пользователя: {{ username }}</h2>

    <!-- Блок с ссылкой на Yandex DataLens -->
    <div class="info p-4 mb-4" style="border: 2px solid #f39c12; border-radius: 12px; background-color: #fef2cc; box-shadow: 0px 4px 10px rgba(243, 156, 18, 0.1);">
        <p class="mb-0" style="font-size: 1.1rem; color: #333;">
            Более подробную аналитику в <strong style="color: #e67e22;">Yandex DataLens</strong> смотри <a href="https://datalens.yandex/sukgj3to9sf4e" target="_blank" style="color: #e67e22; font-weight: bold; text-decoration: none; border-bottom: 2px solid #e67e22;">здесь</a>.
        </p>
    </div>


    {% if calls %}
    <table class="table table-striped table-bordered mt-3">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Название файла</th>
                <th>Компания (Lead)</th>
                <th>Телефон</th>
                <th>Представитель</th>
                <th>Объем данных</th>
                <th>Тип документа</th>
                <th>Итог звонка (Lead)</th>
                <th>Редактирование</th>

            </tr>
        </thead>
        <tbody>
            {% for call in calls %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ call.text_file.name_save }}</td>
                <td>{{ call.opponent.title }}</td>
                <td>{{ call.opponent.telephone }}</td>
                <td>{{ call.opponent.worker.name }}</td>
                <td>{{ call.purpose.amount }}</td>
                <td>{{ call.purpose.data_type }}</td>
                <td>
                    {% if call.lead == "success" %}
                        <span class="badge bg-success">Да</span>
                    {% elif call.lead == "fail" %}
                        <span class="badge bg-danger">Нет</span>
                    {% else %}
                        <span class="badge bg-warning text-dark">Успешный лид</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'myusers:edit' %}?call_id={{ call.id }}">Редактировать всё</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>У вас пока нет загруженных звонков.</p>
    {% endif %}

    <a href="{% url 'myusers:welcome' %}" class="btn btn-secondary mt-3">Назад</a>
</div>
{% endblock %}
