{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-lg p-4 text-center" style="width: 100%; max-width: 500px;">
        <h2 class="mb-3">✅ Файл успешно загружен</h2>
        <h2 class="mb-3">В случае загрузки аудиофайла время обработки может составить до 5 минут</h2>
        <p class="text-muted">Загрузите еще один файл или перейдите во вкладку "Аналитика".</p>

        <div class="d-grid gap-2">
            <a href="{% url 'myusers:welcome' %}" class="btn btn-secondary w-100">Назад</a>
            <a href="{% url 'myusers:call_list' %}" class="btn btn-primary w-100">Аналитика</a>
        </div>
    </div>
</div>
{% endblock %}
